

.courses {
    
    
    


    text-align: left;
}

[colSpan="2"] {
    text-align: center;
}

table {
    width: 95%;
    margin: auto;
    padding: 0;
    border: #e9e1e1 solid  2px;
    
}

th {
    border-bottom: #e9e1e1 solid  2px;
}