.Notifications {
    display: flex;
    /* font-weight: 700; */
    justify-content: space-between;
    border: #f5244a dotted 2px;
    padding: 2vh;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.Notifications p {
    width: fit-content;
}
button {
    align-self: flex-start;
    background-color: transparent;
    border: transparent;
}
button img {
    width: 16px;
    height:16px;
}

[data-priority="default"] {
    color: blue;
}

[data-priority="urgent"] {
    color: red;
}