/* root */
html, body, #root .App {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* App */
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}